pre {
  margin: 20px 0;
}

.code-toolbar {
  position: relative;
  margin: 20px 0;
}

.code-toolbar + .code-toolbar,
.code-toolbar + .highlight,
.code-toolbar + .highlight .code-toolbar {
  border-top: 0;
  margin-top: -20px;
}

.code-toolbar pre,
.code-toolbar code {
  border: none;
}

.code-toolbar code {
  display: block;
}

/* 默认隐藏 toolbar */
.code-toolbar > .toolbar {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

/* hover 时显示 toolbar */
.code-toolbar:hover > .toolbar {
  opacity: 1;
}

.code-toolbar > .toolbar button {
  font-size: 0.7em !important; /* 减小字体 */
  font-weight: bold !important;
  background: var(--accent) !important;
  color: var(--background) !important;
  border-radius: var(--radius) !important;
  box-shadow: none !important;
  border: 1px solid var(--background) !important;
  margin: 4px !important; /* 减小外边距 */
  padding: 4px 8px !important; /* 减小内边距 */
  user-select: none;
  cursor: pointer;
}

.collapsable-code {
  position: relative;
  width: 100%;
  margin: 40px 0;
}

.collapsable-code input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}

.collapsable-code input[type=checkbox]:checked ~ pre,
.collapsable-code input[type=checkbox]:checked ~ .code-toolbar pre {
  display: none;
}

.collapsable-code input[type=checkbox]:checked ~ .code-toolbar {
  padding: 0;
  border-top: none;
}

.collapsable-code input[type=checkbox]:checked ~ .code-toolbar .toolbar {
  display: none;
}

.collapsable-code input[type=checkbox]:checked ~ label .collapsable-code__toggle::after {
  content: attr(data-label-expand);
}

.collapsable-code label {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  border-bottom: 1px solid var(--accent);
  cursor: pointer;
}

.collapsable-code__title {
  flex: 1;
  color: var(--accent);
  padding: 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.collapsable-code__language {
  color: var(--accent);
  border: 1px solid var(--accent);
  border-bottom: none;
  text-transform: uppercase;
  padding: 3px 10px;
}

.collapsable-code__toggle {
  color: var(--accent);
  font-size: 16px;
  padding: 3px 10px;
}

.collapsable-code__toggle::after {
  content: attr(data-label-collapse);
}

.collapsable-code pre {
  margin-top: 0;
}

.collapsable-code pre::first-line {
  line-height: 0;
}

.collapsable-code .code-toolbar {
  margin: 0;
}
